* {
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: url('../assets/rainbow-gradient-cursor-1-32x32.png'), pointer;
    overflow-x: hidden;
}

cursorDefault {
    cursor: url('../assets/rainbow-gradient-cursor-1-32x32.png'), pointer !important;
}

.cursorAction {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

.cursorNone {
    cursor: none !important;
}

.row {
    padding-left: 14px;
    padding-right: 15px;
    margin-right: 3px;
}

.row > * {
    padding-right: 0px;
    padding-left: 0;
}

::-webkit-scrollbar {
    height: 20px;
    width: 25px;
    background-color: transparent;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    border-radius: 25px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

@keyframes backgroundgradient0 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes backgroundgradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body::-webkit-scrollbar {
    display: none;
}

input, .form-check-label, .menuItem {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    border: none;
}

input:focus-visible {
    border: none;
    outline: none;
}

h1, h2, h3 {
    font-family: sans-serif;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:link, a:visited, a:active, a:hover, p {
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1 !important;
}

.hiddenAndUnclickable {
    opacity: 0;
    pointer-events: none;
}

.xxxLink, .searchLink, .searchLabel, .searchInput, .searchInput:focus, .searchInput:active {
    font-weight: bold;
    font-size: 35px !important;
    background: none;
    border: none;
}

.searchClear {
    height: 30px;
    position: relative;
    top: -6px;
    left: 3px;
    padding-right: 15px;
    opacity: 0.7;
}

#activateHiddenMenue {
    width: 15px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.searchInput {
    width: 300px;
}

a:hover {
    color: white;
}

.xxxLink:hover, .searchLink:hover {
    color: #ffffff;
}

a:link, a:visited, a:active, p, div, span {
    user-select: none;
}

p {
    font-size: medium;
}

.videoInfo {
    text-align: center;
    display: none;
}

.videoInfo > div {
    user-select: text;
}

.videoLabel {
    position: relative;
    top: 0px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: url('../assets/rainbow-gradient-cursor-1-32x32.png'), pointer;
}

.btn {
    background-color: #FFFFFF;
    color: black;
    font-size: x-large;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

.btn-lg {
    font-size: xx-large;
}

#showVideoSection, #showImageSection, #showShrineSection, #showGamesSection, #showSearchSection {
    cursor: url(../assets/rainbow-gradient-pointer-32x32.png), pointer;
    height: 65px;
    margin-top: 3px;
    margin-right: 30px;
}

#showSearchSection {
    margin-right: 0px;
}

.btn.videoFilterBtn, .btn.imageFilterBtn, .btn.gameLink {
    background-color: transparent;
    color: black;
    font-weight: 700;
    font-size: 24.9px;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
}

.btn.videoFilterBtn.videoFilterActive,
.btn.imageFilterBtn.imageFilterActive,
.btn.gameLink.gameLinkActive,
.btn.videoFilterBtn.videoFilterActive:hover,
.btn.imageFilterBtn.imageFilterActive:hover,
.btn.gameLink.gameLinkActive:hover {
    background-color: black;
    color: white;
}

.btn.videoFilterBtn:hover, .btn.imageFilterBtn:hover, .btn.gameLink:hover {
    background-color: #d6eadf;
}

.btn-close {
    opacity: 1;
}

.btn-close:hover {
    opacity: 1;
    background-color: #d6eadf;
}

#videos, #images, #shrine, #games, #search {
    display: none;
    transition: all 1s ease;
    margin-left: 14px;
}

.iFrameContainer {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    z-index: 1;
    height: 100%;
    display: none;
    position: relative;
}

#mainMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 5px;
    padding-left: 16px;
    z-index: 10;
    width: 100%;
    height: 80px;
}

#burgerContainer {
    width: 35px;
    height: 46px;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 33px;
    right: 18px;
    z-index: 15;
    -webkit-user-select: none;
    user-select: none;
}

#menuClose {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle .burgerMenu {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.menuItem > a {
    font-weight: normal;
    font-size: 25px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

a.menuItem:hover, .menuItem:hover, #menu li:hover {
    color: white;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuClose:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
}

#menuClose:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuClose:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    top: -33px;
    min-width: 591px;
    padding-bottom: 15px;
    right: -30px;
    background: linear-gradient(to right, #6fba82, #1098ad);
    border-radius: 5px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    color: black;
    font-weight: 600;
    height: 100vH;
}

#menu li, .pizzaTimerMinutesSuffix {
    padding: 3px 0;
    font-size: 25px;
}

#menuClose:checked ~ ul {
    transform: none;
}

@media screen and (max-width: 768px) {
    #menu {
        transform: none;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
}

.sticky {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 3;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 16px;
}

.modal {
    overflow: hidden;
    top: -10px;
}

.modal-header, .modal-footer {
    padding: 15px 30px 15px 30px;
}

.modal-dialog {
    max-width: 1500px;
}

.modal-content {
    background-color: black;
    color: white;
}

#preFlightChecklistLabel {
    padding-left: 10px;
}

#timedRecommendation .modal-body {
    height: 550px;
    font-size: 150px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

#timedRecommendation .modal-dialog {
    margin-top: 145px;
}

#guidedThoughtsSettings {
    padding-top: 30px;
}

.guidedThoughtsContainer {
    position: fixed;
    top: 135px;
    left: 0px;
    height: 180px;
    width: 100%;
    z-index: 20;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    display: none;
}

#startPizzaTimer, #disableAllReminders, #showPrivateContent, #hidePrivateContent {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-right: 15px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

.guidedThoughtsText {
    position: relative;
    top: 20px;
    font-size: 100px;
    font-family: sans-serif;
    z-index: 25;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reminderLabel {
    width: 250px;
}

.reminderSuggestion {
    float: left;
    padding-right: 25px;
    font-size: 25px;
    font-style: italic;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

#clearReminders {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

.guidedThoughtMinutesLabel {
    width: 420px;
}

li, .options, .form-check-label {
    font-size: 25px;
}

.guidedThoughtsTextInput {
    width: 450px;
    font-size: 25px;
    font-family: sans-serif;
}

#topupReminderInMinutes1, #topupReminderInMinutes2, #guidedThoughtMinMinutes, #guidedThoughtMaxMinutes, #firstGuidedThoughtMin, #orderPizzaReminderInMinutes {
    width: 65px;
    border: none;
    font-weight: bold;
    outline: none;
}

#topupRecommendation {
    font-size: 130px;
}

.pizzaTimerMinutesPrefix, .pizzaTimerMinutesSuffix {
    padding: 3px 0;
    font-size: 25px;
    font-weight: bold;
}

.pizzaTimerMinutesSuffix {
    margin-left: -15px;
    pointer-events: none;
    z-index: 4;
}

#pizzaTimerMinutesContainer {
    display: flex;
}

#pizzaTimerMinutes, #pizzaTimerMinutes:focus {
    width: 50px;
    border: none;
    font-weight: bold;
    font-size: 25px;
    background: transparent;
    outline: none;
    z-index: 5;
    padding-top: 3px;
    margin-left: -3px;
}

.liftOff {
    font-size: 35px;
    font-weight: bold;
    border-radius: 10px;
    color: black;
    padding: 5px 20px;
    margin: auto;
    border: solid 3px #000000;
}

#shroomsAndWeedLiftOff {
    background: linear-gradient(to right, #7597f8, #7b81ff, #48ff56, #08aa32);
    margin-right: 10px;
}

#weedOnlyLiftOff {
    background: linear-gradient(to right, #59ff84, #24d651, #00d336);
    position: absolute;
    right: 280px;
}

.liftOff:hover {
    color: white;
    border: solid 3px #FFFFFF;
}

.liftOffIcon {
    height: 60px;
}

#liftOffIconMushroom {
    margin-right: 20px;
}

.menuvisibleAfterStarted {
    display: none;
}

#displayedVideos {
    padding-top: 155px;
}

#displayedImages {
    padding-top: 140px;
}

#timerMinutes {
    font-size: 55px;
    font-weight: bold;
    display: inline-block;
    color: #000000;
    position: absolute;
    top: 2px;
    right: 230px;
    display: none;
    z-index: 2;
    line-height: 80px;
}

.timerMinutesWeedOnly {
    right: 194px !important;
}

#timerColon {
    content: ":";
    position: relative;
    top: -.1em;
}

#progressGraphContainer {
    width: 285px;
    position: relative;
    display: none;
}

.progressGraph {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    max-width: var(--chart-width, 600px);
}

.progressGraph tbody {
    width: 100%;
    height: var(--chart-height, 50px);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: row;
}

.progressGraph tr {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.progressGraph td {
    position: absolute;
    top: -16px;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color, rgba(240, 50, 50, 0.75));
    clip-path: polygon(
            0% calc(100% * (1 - var(--start))),
            100% calc(100% * (1 - var(--end))),
            100% 100%,
            0% 100%
    );
}

.progressGraph td:nth-of-type(1) {
    --color: rgba(0, 0, 0, 0.2);
}

#fullscreenIcon, .playerIcon, #switchDesktopPhone {
    height: 45px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    position: relative;
    z-index: 5;
}

#spotifyIcon {
    height: 53px;
    top: -8px;
    position: inherit;
}

#switchDesktopPhone {
    display: none;
}

.fullscreenImage {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    width: 538.7px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.externalVideoPreview {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    width: 100%;
    height: 100%;
    margin-right: 22px;
    border-radius: 5px;
}

.displayedFullscreenImage {
    cursor: none;
}

.resetVideoFilterIcon {
    height: 30px;
}

#oAuthPlayerControl, #playlists {
    position: relative;
    top: -17px;
}

#sleep {
    position: absolute;
    height: 48px;
    top: 17px;
    display: none;
}

#menuActionHeader {
    margin-top: 73px;
    display: block;
}

#devices {
    position: relative;
    top: 16px;
    width: 300px;
    background: transparent;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    border: none;
    font-weight: bold;
    padding: 0;
    font-size: 30px;
    color: black;
    margin-bottom: 28px;
    left: 70px;
    display: none;
}

option {
    background: black;
    color: white;
}

.trackProgressContainer {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 2px;
    left: 0px;
    z-index: 15;
    visibility: visible !important;
}

.trackProgress {
    margin: 0px auto;
    position: sticky;
    transition: all 2s;
}

.trackProgress .colorfulBorder {
    --borderWidth: 2px;
}

#spotifyPlaylists {
    position: sticky;
    top: 0px;
    width: 340px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding: 0 0 0 5px;
    font-size: 33px;
    color: black;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    text-align-last: center;
    max-height: 50px;
    overflow: hidden;
}

#spotifyPlaylistsMenu {
    position: fixed;
    top: 80px;
    right: -1715px;
    background: black;
    font-size: 30px;
    color: black;
    width: 1715px;
    padding: 5px 15px;
    display: block;
    font-weight: 600;
    z-index: 20;
    background: linear-gradient(to right, #6fba82, #1098ad, #5073b8, #ef4e7b, #f37055);
    border-radius: 5px;
    transition: all 0.5s ease;
    min-height: 100%;
    line-height: 140%;
}

.spotifyPlaylistMenuHeading {
    font-weight: 700;
}

.noisegeneratorLink {
    display: block;
    font-size: 30px !important;
}

.spotifyPlaylistsMenuTransition {
    right: -5px !important;
}

.spotifyPlaylistsMenuContent {
    background-color: transparent;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spotifyPlaylistItem, .noisegeneratorLink {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

.spotifyPlaylistItem:hover, .noisegeneratorLink:hover {
    color: white;
}

#spotifyCurrentlyPlayingContainer {
    margin-right: -7px;
    height: 0px;
    overflow: hidden;
    transition: all 1s ease;
}

#addToFavorites, #createSongRadio {
    height: 45px;
    top: 13px;
    position: absolute;
    right: 23px;
    transition: all 1s ease;
}

#createSongRadio {
    right: 90px;
}

.spotifyCurrentlyPlayingContainerVisible {
    height: 70px !important;
}

#spotifyCurrentlyPlayingTrack {
    text-align: center;
    font-weight: 700;
    height: 63px;
    padding-top: 8px;
    font-size: 35px;
}

#spotifyCurrentlyPlayingBorder {
    border-radius: 5px;
    border: solid 3px #000000;
}

#iFrameSpotifyPlayerContainer {
    position: fixed;
    top: 0px;
    left: 665px;
    z-index: 11;
}

#iFrameSpotifyPlayerContainer iframe {
    width: 300px;
    height: 80px;
}

#iFrameSpotifyPlayerContainer iframe:hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 600px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#launchText {
    font-size: 50px;
    position: relative;
    top: -19px;
    padding-left: 80px;
    font-weight: bold;
    height: 35px;
    width: 285px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    left: 0px;
    z-index: 2;
}

#launchSymbol {
    position: relative;
    top: -8px;
    padding-left: 0px;
    height: 55px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    left: -25px;
    z-index: 2;
}

#particles-js {
    position: relative;
    height: 975px;
    animation: strobo2 0ms steps(1, end) infinite;
    z-index: 3;
    overflow: hidden;
}

.particles-js-canvas-el {
    height: 99.4% !important;
    position: absolute;
    top: 0;
}

@keyframes strobo1 {
    50% {
        background: black
    }
}

@keyframes strobo2 {
    50% {
        background: white
    }
}

@keyframes stroboEnso {
    70% {
        display: none;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@property --p {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 40%;
}

.shrineColorfulBackground {
    background: radial-gradient(rgba(144, 107, 255, 1), rgba(72, 205, 255, 1), rgba(155, 255, 107, 1) var(--p), rgba(245, 255, 115, 1));
    animation: shrineBackground 13s infinite linear;
}

@keyframes shrineBackground {
    0% {
        --p: 40%;
    }
    50% {
        --p: 140%;
    }
    100% {
        --p: 40%;
    }
}

#shrineSettingsContainer {
    position: absolute;
    top: 70px;
    left: 0;
    width: 360px;
    opacity: 0;
    z-index: 6;
}

#shrineSettingsContainer:hover {
    opacity: 1;
}

#shrineSettings {
    padding-top: 25px;
    padding-left: 15px;
}

.shrineSetBGColor, .shrineSetBGColorful, .shrineToggleBWStrobo {
    padding: 25px 25px 0px 25px;
    display: inline;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

#shrineBGColorPickerContainer {
    display: inline;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

#shrineBGColorPickerImage, #shrineToggleBWStrobo {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

#shrineParticlesSwitch {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 12px;
    cursor: url(../assets/rainbow-gradient-pointer-32x32.png), pointer;
    margin-top: -11px;
}

#toggleAbsoluteThruth {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 3px;
    cursor: url(../assets/rainbow-gradient-pointer-32x32.png), pointer;
    margin-top: 13px;
}

#shrineStroboSpeed {
    height: 48px;
    -webkit-appearance: none;
    margin: 7px 0;
    width: 168px;
}

.input-group {
    width: 130px;
    height: 15px;
    margin-right: 20px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 25px;
}

.input-group .btn {
    height: 20px;
    top: 14px;
    line-height: 0px;
    font-weight: 800;
    background: black;
    color: white;
    border: none;
    padding-bottom: 10px;
    margin-right: 2px;
}

.input-group .btn:hover {
    background: white;
    color: black;
}

.input-group > .form-control, .input-group > .form-select {
    height: 24px;
    top: 11px;
    width: 45px;
    padding: 0;
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 24px;
    margin-left: -5px !important;
}

#shrineStroboSpeed {
    background: transparent;
}

#shrineStroboSpeedContainer {
    height: 60px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 1px transparent;
    background: #D8D8D8;
    border-radius: 50px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px transparent;
    border: 0px solid #00001E;
    height: 41px;
    width: 41px;
    border-radius: 50px;
    background: #000000;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
}

.videoContainer {
    width: 538px;
    height: 303px;
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
    vertical-align: bottom;
}

.videoContainer.wisdom {
    margin-bottom: 50px !important;
}

.videoFrame, .youtubeVideo {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: black;
    border-radius: 5px;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

.videoMenuOverlayMinimized {
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    position: absolute;
}

.addVideoToQueue {
    right: 10px;
    top: 5px;
    z-index: 2;
    cursor: url(../assets/rainbow-gradient-pointer-32x32.png), pointer;
    position: absolute;
    width: 50px;
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.addVideoToQueue:hover {
    opacity: 1;
}

.addVideoToQueueClicked {
    width: 45px;
}

.videoContainer.XXX .addVideoToQueue {
    display: none;
}

.videoMenuOverlayFullscreen {
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 94vh;
    cursor: none;
    position: absolute;
    display: none;
}

.videoMenuOverlayFullscreen2 {
    right: 0px;
    top: 925px;
    z-index: 1;
    width: 35px;
    height: 35px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    position: absolute;
    display: none;
}

.videoMenuOverlayFullscreenTime {
    right: 70px;
    top: -14px;
    width: 200px;
    height: 100px;
    position: fixed;
    display: none;
    font-size: 80px;
    font-family: sans-serif;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 15;
    visibility: visible !important;
}

.videoLinkTypeSeperator {
    width: 100%;
    height: 0;
    margin-top: 40px;
    margin-bottom: 10px;
}

#miscVideoLinkTypeSeperator {
    border-bottom: solid 10px #8577ff;
    border-radius: 10px;
}

#externalVideoLinkTypeSeperator {
    border-bottom: solid 10px #ff5454;
    border-radius: 10px;
}

.imageSlideshowControls {
    left: 0px;
    bottom: 0px;
    width: 300px;
    height: 120px;
    position: fixed;
    display: none;
    font-size: 80px;
    font-family: sans-serif;
    z-index: 15;
    visibility: visible !important;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

#startSlideshow {
    height: 100px;
    width: 100px;
}

#slideshowInterval {
    font-size: 70px;
    width: 140px;
    height: 80px;
    background-color: transparent;
    position: fixed;
    bottom: 12px;
    cursor: auto !important;
}

#MageAIExternalPage {
    height: 1080px;
    margin-left: -16px;
    width: 1715px;
    top: -210px;
    position: relative;
    margin-bottom: -220px;
}

#pizzaTimerContainer {
    display: none;
    position: absolute;
    top: 5px;
    right: 360px;
    z-index: 10;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

#pizzaTimerSymbol {
    width: 100px;
    position: absolute;
}

#pizzaTimerProgress {
    position: absolute;
    display: inline;
    left: 18px;
    top: -8px;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}

#notesOverlay {
    top: -2px;
    left: -2px;
    height: auto;
    width: auto;
}

#notesOverlay .modal-content {
    height: 101vh;
    width: 100.2vw;
}

#notesOverlay .modal-dialog {
    max-width: 100%;
    margin: 0;
}

#notesOverlay .modal-body {
    height: 100vh;
}

#notesSymbol {
    display: none;
    height: 45px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    position: absolute;
    right: 140px;
    top: 21px;
    z-index: 11;
}

#notesTextarea {
    width: 100%;
    height: 820px;
    font-size: 50px;
    background-color: black;
    color: white;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    caret-color: #EF5553;
    caret-shape: block;
    padding-left: 14px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

#absoluteTruthsOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: none;
    pointer-events: none;
    z-index: 3;
}

#absoluteTruthsOverlayContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
}

#absoluteTruthsOverlayText {
    position: relative;
    font-size: 110px;
    font-family: sans-serif;
    background: linear-gradient(to right, #008eff, #1a91a0, #e9ff9e, #e8ff00, #ffac26, #ff3d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
    display: table-cell !important;
}

@keyframes textShrink0 {
    0% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(0.92);
    }
}

@keyframes textShrink1 {
    0% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(0.92);
    }
}

#gamesFrame {
    width: 100%;
    height: 100vh;
}

.rockPaperSciccors {
    height: 103vh !important;
    position: fixed;
    top: -29px;
}

#games, #shrine {
    overflow-y: hidden;
    height: 100vh;
    margin-left: 0px;
}

#ensoImageShrineContainer, #globalEnsoContainer {
    position: relative;
    top: 15px;
    height: 95%;
    z-index: 1;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    padding: 35px;

    -webkit-animation: spin 120s linear infinite;
    -moz-animation: spin 120s linear infinite;
    animation: spin 120s linear infinite;
}

#globalEnsoContainer {
    position: fixed;
    top: 60px;
    transition: all 1s ease;
    left: 23vw;
    padding: 50px;
}

.globalEnsoContainerHidden {
    opacity: 0 !important;
}

#ensoImageShrine, #globalEnsoImage {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.VRGamesBtn {
    display: none;
}

.VRGames {
    position: absolute;
    top: 155px;
    font-size: larger;
}

.VRGameLinkContainer {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    width: 538px;
    height: 300px;
    display: inline-block;
    position: relative;
    margin-left: 15px;
    margin-bottom: 25px;
    margin-right: 9.5px
}

.VRGameImage {
    width: 538px;
    height: 300px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.VRGameName {
    position: relative;
    top: -33px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 3.5;
}

#searchBar {
    width: auto;
    height: auto;
    display: inline-block;;
}

.keyboard-action-button, .keyboard-key {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

#directYoutubePlayer {
    z-index: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
}

#mainSearchResultYoutubeIframe {
    border-radius: 5px;
}

#mainSearchResultSpotifyContainer {
    position: fixed;
    top: 90px;
    left: 15px;
    display: block !important;
}

#mainSearchResultYoutubeContainer {
    position: fixed;
    top: 90px;
    left: 320px;
    display: block !important;
    width: 1061px;
    height: 597px;
}

#mainSearchResultYoutubeContainerOverlayMinimized {
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 1061px;
    height: 547px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    position: absolute;
}

#mainSearchBar {
    position: fixed;
    left: 400px;
    height: 40px;
    top: 720px;
}

#showYoutubePlayedHistory {
    position: fixed;
    left: 337px;
    height: 40px;
    top: 719px;
    opacity: 0.5;
    cursor: url(../assets/rainbow-gradient-pointer-32x32.png), pointer;
}

#switchAudioSource {
    height: 45px;
    cursor: url(../assets/rainbow-gradient-pointer-32x32.png), pointer;
}

#mainSearchInput, #mainSearchInput:focus, #mainSearchInput:active {
    padding-left: 10px;
    font-weight: bold;
    font-size: 25px !important;
    width: 900px;
    outline: none;
    border: none;
    border-radius: 5px;
}

#clearMainSearchInput {
    position: absolute;
    height: 30px;
    right: 10px;
    top: 5px;
    opacity: 0.5;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

.colorfulBorder {
    --borderWidth: 5px;
    background: #1D1F20;
    border-radius: var(--borderWidth);
    position: initial !important;
}

.colorfulBorder:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 3s ease alternate infinite;
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    background-size: 300% 300%;

}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#youtubeResults {
    position: fixed;
    top: 90px;
    height: 870px;
    overflow: auto;
    width: 285px;
    left: 15px;
    direction: rtl;
}

.youtubeResult, .youtubeQueueItem {
    display: inline-table;
    position: relative;
    margin-bottom: 15px;
    height: 255px;
    width: 245px;
    direction: ltr;
}

.youtubeResultItemImage, .youtubeQueueItemImage {
    height: 180px;
    display: block;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    border-radius: 5px;
}

.youtubeResultItemDescription, .youtubeQueueItemDescription {
    display: table;
    position: relative;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    min-height: 50px;
    font-size: 17px;
    font-weight: 600;
    padding-top: 5px;
    width: 240px;
}

#openVideoOnYouTube {
    position: fixed;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    height: 50px;
    left: 1065px;
    top: 413px;
}

#currentYoutubeQueue {
    position: fixed;
    top: 90px;
    height: 870px;
    overflow: auto;
    width: 284px;
    left: 1405px;
}

#nextVideo {
    height: 50px;
    position: fixed;
    top: 413px;
    left: 580px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

.youtubeQueueEmpty {
    font-size: 35px;
    font-weight: 600;
}

.youtubeItemDuration {
    position: absolute;
    top: 121px;
    right: 15px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    pointer-events: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.youtubeQueueItemDeleteSymbol:after {
    content: "\00d7";
    font-size: 50px;
    color: crimson;
    position: absolute;
    font-weight: 800;
    top: 136px;
    right: -12px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
    z-index: 10;
}

#mainSearchAutocompleteSuggestions {
    position: fixed;
    left: 410px;
    top: 765px;
}

.youtubeAutocompleteItem {
    font-size: 20px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}

.autocompleteSelected, .youtubeAutocompleteItem:hover {
    font-weight: 800;
}

#clearYoutubePlayedHistory {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer;
}