/*
809bce -> Main Buttons
95b8d1 -> Button secondary
b8e0d2 -> Background
d6eadf -> Text / hover background

#E04006 -> red of fullscreen icon and settings in menu
https://coolors.co/palettes/popular/pastel*/

* {
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: url('../assets/rainbow-gradient-cursor-1-32x32.png'), pointer !important;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    height: 20px;
    width: 25px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    border-radius: 25px;
}

@keyframes backgroundgradient0 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes backgroundgradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body::-webkit-scrollbar {
    display: none;
}

.cursorNormal {
    cursor: url('../assets/rainbow-gradient-cursor-1-32x32.png'), pointer !important;
}

input, .form-check-label, .menuItem {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

h1, h2, h3 {
    font-family: sans-serif;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:link, a:visited, a:active, a:hover, p {
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

.xxxLink, .searchLink, .searchLabel, #searchInput, #searchInput:focus, #searchInput:active {
    font-weight: bold;
    font-size: 35px !important;
    background: none;
    border: none;
}

#activateHiddenMenue {
    width: 15px;
    height: 73px;
    position: fixed;
    top: 0;
    left: 0;
}

#searchInput {
    width: 380px;
}

a:hover {
    color: white;
}

.xxxLink:hover, .searchLink:hover {
    color: #ffffff;
}

a:link, a:visited, a:active, p, div, span {
    user-select: none;
}

p {
    font-size: medium;
}

.videoInfo {
    text-align: center;
    display: none;
}

.videoInfo > div {
    user-select: text;
}

.videoLabel {
    position: relative;
    top: -33px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 3.5;
    cursor: url('../assets/rainbow-gradient-cursor-1-32x32.png'), pointer !important;
}

.btn {
    background-color: #809bce;
    color: black;
    font-size: x-large;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

.btn:hover {
    color: black;
    background-color: #d6eadf;
}

.btn-lg {
    font-size: xx-large;
}

#showVideoSection, #showImageSection, #showShrineSection, #showGamesSection {
    cursor: url(../assets/rainbow-gradient-pointer-32x32.png), pointer !important;
    height: 65px;
    margin-top: 3px;
    padding-right: 35px;
}

.btn.videoFilterBtn, .btn.imageFilterBtn, .btn.gameLink {
    background-color: transparent;
    color: black;
    font-weight: 600;
    font-size: 25px;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
}

.btn.videoFilterBtn.videoFilterActive,
.btn.imageFilterBtn.imageFilterActive,
.btn.gameLink.gameLinkActive,
.btn.videoFilterBtn.videoFilterActive:hover,
.btn.imageFilterBtn.imageFilterActive:hover,
.btn.gameLink.gameLinkActive:hover {
    background-color: black;
    color: white;
}

.btn.videoFilterBtn:hover, .btn.imageFilterBtn:hover, .btn.gameLink:hover {
    background-color: #d6eadf;
}

.btn-close {
    opacity: 1;
}

.btn-close:hover {
    opacity: 1;
    background-color: #d6eadf;
}

#videos, #images, #shrine, #games, #search {
    display: none;
}

.iFrameContainer {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    z-index: 1;
    height: 100%;
}

#mainMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 5px;
    padding-left: 15px;
    z-index: 5;
    width: 100%;
    height: 80px;
}

#burgerContainer {
    width: 35px;
    height: 46px;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 15;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle .burgerMenu {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.menuItem > a {
    font-weight: normal;
    font-size: 25px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

a.menuItem:hover, .menuItem:hover, #menu li:hover {
    color: white;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    top: -30px;
    min-width: 591px;
    padding-bottom: 15px;
    right: -30px;
    background: linear-gradient(to right, #6fba82, #1098ad, #5073b8, #ef4e7b);
    border-radius: 5px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    color: black;
    font-weight: 600;
}

#menu li {
    padding: 3px 0;
    font-size: 25px;
}

#menuToggle input:checked ~ ul {
    transform: none;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    #menu {
        transform: none;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
}

.sticky {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.modal {
    overflow: hidden;
    top: -10px;
}

.modal-header, .modal-footer {
    padding: 15px 30px 15px 30px;
}

.modal-dialog {
    max-width: 1500px;
}

.modal-content {
    background-color: black;
    color: white;
}

#preFlightChecklistLabel {
    padding-left: 10px;
}

#timedRecommendation .modal-body {
    height: 550px;
    font-size: 150px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#timedRecommendation .modal-dialog {
    margin-top: 145px;
}

#guidedThoughtsSettings {
    padding-top: 30px;
}

.guidedThoughtsContainer {
    position: fixed;
    top: 135px;
    left: 0px;
    height: 180px;
    width: 100%;
    z-index: 20;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    display: none;
}

#startPizzaTimer, #disableAllReminders {
    color: #E04006;
    font-size: 30px;
    font-weight: bold;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    display: none;
}

.guidedThoughtsText {
    position: relative;
    top: 20px;
    font-size: 100px;
    font-family: sans-serif;
    z-index: 25;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reminderLabel {
    width: 250px;
}

.reminderSuggestion {
    float: left;
    padding-right: 25px;
    font-size: 25px;
    font-style: italic;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#clearReminders {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

.guidedThoughtMinutesLabel {
    width: 420px;
}

li, .options, .form-check-label {
    font-size: 25px;
}

.guidedThoughtsTextInput {
    width: 450px;
    font-size: 25px;
    font-family: sans-serif;
}

#topupReminderInMinutes1, #topupReminderInMinutes2, #guidedThoughtMinMinutes, #guidedThoughtMaxMinutes, #firstGuidedThoughtMin, #orderPizzaReminderInMinutes {
    width: 65px;
    border: none;
    font-weight: bold;
}

#topupRecommendation {
    font-size: 130px;
}

#liftOff {
    font-size: 35px;
    font-weight: bold;
    margin-left: auto;
}

.menuvisibleAfterStarted {
    display: none;
}

#displayedVideos {
    padding-top: 150px;
}

#displayedImages {
    padding-top: 135px;
}

#timerMinutes {
    font-size: 60px;
    font-weight: bold;
    display: inline-block;
    color: #000000;
    position: absolute;
    top: -2px;
    right: 275px;
    display: none;
    z-index: 2;
    line-height: 80px;
}

#displayHour::after {
    content: ":";
    position: relative;
    top: -.1em;
}

#progressGraphContainer {
    width: 390px;
    position: relative;
    display: none;
}

#progressGraph {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    max-width: var(--chart-width, 600px);
}

#progressGraph tbody {
    width: 100%;
    height: var(--chart-height, 50px);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: row;
}

#progressGraph tr {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

#progressGraph td {
    position: absolute;
    top: -16px;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color, rgba(240, 50, 50, 0.75));
    clip-path: polygon(
            0% calc(100% * (1 - var(--start))),
            100% calc(100% * (1 - var(--end))),
            100% 100%,
            0% 100%
    );
}

#progressGraph td:nth-of-type(1) {
    --color: rgba(0, 0, 0, 0.2);
}

#fullscreenIcon, .playerIcon {
    height: 45px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#spotifyIcon {
    height: 53px;
    top: -8px;
    position: inherit;
}

#searchSymbol {
    height: 58px;
    top: -6px;
    position: inherit;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#switchDesktopPhone {
    height: 45px;
    top: 0px;
    position: inherit;
    display: none;
}

#turnScreenBlack {
    height: 70px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    width: 70px !important;
}

.fullscreenImage, .externalVideoPreview {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    width: 538.7px;
    margin-right: 22px;
    margin-bottom: 25px;
}

.displayedFullscreenImage {
    cursor: none;
}

.resetVideoFilterIcon {
    height: 30px;
}

#oAuthPlayerControl, #playlists {
    position: relative;
    top: -17px;
}

#devices {
    position: relative;
    top: 9px;
    width: 300px;
    background: transparent;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    border: none;
    font-weight: bold;
    padding: 0;
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

option {
    background: black;
    color: white;
}

#spotifyPlaylists {
    position: relative;
    top: -7px;
    width: 260px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding: 0 0 0 5px;
    font-size: 33px;
    color: black;
    margin-left: 10px;
    margin-right: 0px;
    text-align-last: center;
    height: 60px;
    overflow: hidden;
}

#spotifyPlaylistsMenu {
    position: fixed;
    top: 75px;
    right: -1100px;
    background: black;
    font-size: 30px;
    color: black;
    width: 1100px;
    padding: 5px 15px;
    display: block;
    font-weight: 600;
    z-index: 20;
    background: linear-gradient(to right, #6fba82, #1098ad, #5073b8, #ef4e7b, #f37055);
    border-radius: 5px;
    transition: all 0.5s ease;
}

.spotifyPlaylistsMenuTransition {
    right: -5px !important;
}

.spotifyPlaylistsMenuContent {
    background-color: transparent;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spotifyPlaylistItem {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

.spotifyPlaylistItem:hover {
    color: white;
}

#iFrameSpotifyPlayerContainer {
    position: fixed;
    top: -5px;
    left: 665px;
    z-index: 11;
}

#iFrameSpotifyPlayerContainer iframe {
    width: 240px;
    height: 80px;
}

#iFrameSpotifyPlayerContainer iframe:hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 600px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#launchText {
    font-size: 50px;
    position: relative;
    top: -20px;
    padding-left: 150px;
    padding-right: 150px;
    font-weight: bold;
    height: 35px;
    width: 390px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#particles-js {
    position: relative;
    height: 975px;
    animation: strobo2 0ms steps(1, end) infinite;
    cursor: none;
    z-index: 3;
    overflow: hidden;
}

.particles-js-canvas-el {
    height: 99.4% !important;
    position: absolute;
    top: 0;
}

@keyframes strobo1 {
    50% {
        background: black
    }
}

@keyframes strobo2 {
    50% {
        background: white
    }
}

@keyframes stroboEnso {
    70% {
        display: none;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

#shrine {
    background-color: #363636;
}

@property --p {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 40%;
}

.shrineColorfulBackground {
    background: radial-gradient(rgba(144, 107, 255, 1), rgba(72, 205, 255, 1), rgba(155, 255, 107, 1) var(--p), rgba(245, 255, 115, 1));
    animation: shrineBackground 13s infinite linear;
}

@keyframes shrineBackground {
    0% {
        --p: 40%;
    }
    50% {
        --p: 140%;
    }
    100% {
        --p: 40%;
    }
}

#shrineSettingsContainer {
    position: absolute;
    top: 70px;
    left: 0;
    width: 420px;
    opacity: 0;
    z-index: 6;
}

#shrineSettingsContainer:hover {
    opacity: 1;
}

#shrineSettings {
    padding-top: 25px;
    padding-left: 15px;
}

.shrineSetBGColor, .shrineSetBGColorful, .shrineToggleBWStrobo {
    padding: 25px 25px 0px 25px;
    display: inline;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

#shrineBGColorPickerContainer {
    display: inline;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#shrineBGColorPickerImage, #shrineToggleBWStrobo {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#shrineParticlesSwitchImage {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 15px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

input[type=range] {
    height: 48px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 300px;
}

#shrineStroboSpeed {
    background: transparent;
}

#shrineStroboSpeedContainer {
    height: 60px;
}

#shrineParticlesSwitchContainer {
    height: 50px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    animate: 0.2s;
    box-shadow: 0px 0px 1px transparent;
    background: #D8D8D8;
    border-radius: 50px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px transparent;
    border: 0px solid #00001E;
    height: 41px;
    width: 41px;
    border-radius: 50px;
    background: #000000;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    -webkit-appearance: none;
    margin-top: -5.5px;
}

.videoContainer {
    width: 538.7px;
    height: 300px;
    display: inline-block;
    position: relative;
    margin-right: 22px;
    margin-bottom: 25px;
}

.videoFrame {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: black;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

.videoMenuOverlayMinimized {
    left: 165px;
    top: 52px;
    z-index: 1;
    width: 200px;
    height: 200px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    position: absolute;
}

.videoMenuOverlayMinimized2 {
    left: 488px;
    top: 250px;
    z-index: 1;
    width: 50px;
    height: 50px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    position: absolute;
}

.videoMenuOverlayFullscreen {
    left: 753px;
    top: 380px;
    z-index: 1;
    width: 200px;
    height: 200px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    position: absolute;
    display: none;
}

.videoMenuOverlayFullscreen2 {
    left: 1655px;
    top: 925px;
    z-index: 1;
    width: 35px;
    height: 35px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    position: absolute;
    display: none;
}

.videoMenuOverlayFullscreenTime {
    right: 70px;
    top: -14px;
    width: 200px;
    height: 100px;
    position: fixed;
    display: none;
    font-size: 80px;
    font-family: sans-serif;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 15;
    visibility: visible !important;
}

.enableVideoFullscreenIcon, .disableVideoFullscreenIcon {
    height: 200px;
    width: 200px;
    position: absolute;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    display: none;
}

.enableVideoFullscreenIcon2, .disableVideoFullscreenIcon2 {
    height: 55px;
    width: 55px;
    position: absolute;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    right: 0px;
}

.disableVideoFullscreenIcon2 {
    right: -17px;
}

.imageSlideshowControls {
    left: 0px;
    bottom: 0px;
    width: 300px;
    height: 120px;
    position: fixed;
    display: none;
    font-size: 80px;
    font-family: sans-serif;
    z-index: 15;
    visibility: visible !important;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#startSlideshow {
    height: 100px;
    width: 100px;
}

#slideshowInterval {
    font-size: 70px;
    width: 140px;
    height: 80px;
    background-color: transparent;
    position: fixed;
    bottom: 12px;
    cursor: auto !important;
}

#MageAIExternalPage {
    height: 1080px;
    margin-left: -16px;
    width: 1715px;
    top: -200px;
    position: relative;
    margin-bottom: -220px;
}

#pizzaTimerContainer {
    display: none;
    position: absolute;
    top: 5px;
    right: 440px;
    z-index: 10;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#pizzaTimerSymbol {
    width: 100px;
    position: absolute;
}

#pizzaTimerProgress {
    position: absolute;
    display: inline;
    left: 18px;
    top: -8px;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}

#notesSymbol {
    display: none;
    height: 45px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    position: absolute;
    right: 125px;
    top: 21px;
    z-index: 11;
}

#notesTextarea {
    width: 100%;
    height: 790px;
    font-size: 50px;
    background-color: black;
    color: white;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    caret-color: #EF5553;
    padding-left: 14px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#absoluteTruthsOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    text-align: center;
    cursor: none;
    pointer-events: none;
    display: none;
}

#absoluteTruthsOverlayContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 20;
    text-align: center;
    display: table;
}

#absoluteTruthsOverlayText {
    position: relative;
    font-size: 110px;
    font-family: sans-serif;
    background: linear-gradient(to right, #008eff, #1a91a0, #e9ff9e, #e8ff00, #ffac26, #ff3d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
    display: table-cell !important;
}

@keyframes textShrink0 {
    0% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(0.92);
    }
}

@keyframes textShrink1 {
    0% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(0.92);
    }
}

#gamesFrame {
    width: 100%;
    height: 100vh;
}

#games, #shrine {
    overflow-y: hidden;
    height: 100vh;
}

#ensoImageShrineContainer {
    position: relative;
    top: 15px;
    height: 95%;
    z-index: 1;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    padding: 35px;

    -webkit-animation: spin 120s linear infinite;
    -moz-animation: spin 120s linear infinite;
    animation: spin 120s linear infinite;
}

#ensoImageShrine {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.VRGamesBtn {
    display: none;
}

.VRGames {
    position: absolute;
    top: 150px;
    font-size: larger;
}

.VRGameLinkContainer {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    width: 538px;
    height: 300px;
    display: inline-block;
    position: relative;
    margin-left: 15px;
    margin-bottom: 25px;
    margin-right: 12.5px
}

.VRGameImage {
    width: 525px;
    height: 300px;
    margin-bottom: 5px;
}

.VRGameName {
    position: relative;
    top: -33px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 3.5;
}

#searchBar {
    width: auto;
    height: auto;
    display: inline-block;;
}

.keyboard-action-button, .keyboard-key {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#search {
    padding-top: 100px;
    padding-left: 15px;
}

#mainSearchResultSpotifyContainer {
    position: fixed;
    top: 100px;
    left: 15px;
    display: block !important;
}

#mainSearchResultYoutubeContainer {
    position: fixed;
    top: 100px;
    left: 320px;
    display: block !important;
    width: 1061px;
    height: 597px;
}

#mainSearchResultYoutubeContainer .videoMenuOverlayMinimized {
    left: 430px;
    top: 197px;
}

#mainSearchResultYoutubeContainer .videoMenuOverlayMinimized2 {
    left: 1011px;
    top: 547px;
    width: 50px;
    height: 50px;
}

#mainSearchBar {
    position: fixed;
    left: 400px;
    height: 40px;
    top: 720px;
}

#showYoutubePlayedHistory {
    position: fixed;
    left: 330px;
    height: 40px;
    top: 718px;
    width: 50px;
    opacity: 0.5;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

#mainSearchInput, #mainSearchInput:focus, #mainSearchInput:active {
    padding-left: 10px;
    font-weight: bold;
    font-size: 25px !important;
    width: 900px;
    outline: none;
    border: none;
    border-radius: 5px;
}

#clearMainSearchInput {
    position: absolute;
    height: 30px;
    right: 10px;
    top: 5px;
    opacity: 0.5;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

.colorfulBorder {
    --borderWidth: 5px;
    background: #1D1F20;
    border-radius: var(--borderWidth);
    position: initial !important;
}

.colorfulBorder:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 3s ease alternate infinite;
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    background-size: 300% 300%;

}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#youtubeResults {
    position: fixed;
    top: 100px;
    height: 860px;
    overflow: auto;
    width: 285px;
    left: 15px;
    direction: rtl;
}

.youtubeResult, .youtubeQueueItem {
    display: inline-table;
    position: relative;
    margin-bottom: 15px;
    height: 255px;
    width: 245px;
    direction: ltr;
}

.youtubeResultItemImage, .youtubeQueueItemImage {
    height: 180px;
    display: block;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

.youtubeResultItemDescription, .youtubeQueueItemDescription {
    display: table;
    position: relative;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    min-height: 50px;
    font-size: 17px;
    font-weight: 600;
    padding-top: 5px;
    width: 240px;
}

#openVideoOnYouTube {
    position: fixed;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    height: 50px;
    left: 1065px;
    top: 413px;
}

#currentYoutubeQueue {
    position: fixed;
    top: 100px;
    height: 860px;
    overflow: auto;
    width: 284px;
    left: 1405px;
}

#nextVideo {
    height: 50px;
    position: fixed;
    top: 413px;
    left: 580px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

.youtubeQueueEmpty {
    font-size: 35px;
    font-weight: 600;
}

.youtubeItemDuration {
    position: absolute;
    top: 121px;
    right: 15px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    pointer-events: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.youtubeQueueItemDeleteSymbol:after {
    content: "\00d7";
    font-size: 50px;
    color: crimson;
    position: absolute;
    font-weight: 800;
    top: 136px;
    right: -12px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
    z-index: 10;
}

#mainSearchAutocompleteSuggestions {
    position: fixed;
    left: 410px;
    top: 765px;
}

.youtubeAutocompleteItem {
    font-size: 20px;
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}

.autocompleteSelected, .youtubeAutocompleteItem:hover {
    font-weight: 800;
}

#clearYoutubePlayedHistory {
    cursor: url('../assets/rainbow-gradient-pointer-32x32.png'), pointer !important;
}